# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage
.nyc_output

# Dependency directory
node_modules
bower_components

# Publish directory
.publish

# Editor artifacts
.idea

# Other
.DS_Store

yarn.lock

examples
src
test*
.babelrc
.coveralls.yml
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.nvmrc
.nycrc
.travis.yml
bower.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
package-lock.json
package-scripts.js
rollup.config.js
wallaby.js
webpack.config.js
